<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
  </head>
  <body>
    <div class="main-wrapper">
      <!-- HEADER -->
      <div class="header clearfix">
        <%= render "potepan/shared/topbar" %>
        <%= render "potepan/shared/navbar" %>
      </div>
      <%= yield %>
      <!-- FOOTER -->
      <%= render "potepan/shared/copy_right" %>
    </div>
    <%= render "potepan/shared/login_model" %>
    <%= render "potepan/shared/signup_model" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
